#data-input{
    width:95%;
    height: 500px;

}
ol{
    margin-left: 10px;

}
ol>li{
    color:#b59f9f;
}

h2{
    margin-top: 50px;color: white;margin-left:10px;margin-right:10px;
}

.sidebar-nav li{
    text-indent : 0px;
    line-height: 20px;
}
